/*############################################################## 
                        Table of Contents 
################################################################
    1. Main Elements
  2. Typography Styling
  3. 12-Column Grid
  4. Header and Footer Styling
  5. Button Styles
  6. Answer Graph
  7. Media Queries
  8. Source: HTML5 Boiler Plate Initilizr
  
  
/* Main Elements */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    min-height: 100%;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    height: 100%;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main-image {
    width: 100%;
    padding: 0;
    margin: 0;
 /*   background: url('https://i.redd.it/x1yue129bntx.jpg'); */
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}

/*.svgContainer {
  height: 100%;
  width: 100%;
}*/


.logo { /* Top left logo */
    color: white;
    font-style: italic;
    margin: 15px 0 15px;
}

.feature {
    background-color: #F1F1F1;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.results-left {
    width: 100%;
    height: 100%;
    margin: 30px 10px 0 0;
    float: left;
}

.results-right {
    padding: 15px 25px 25px 25px;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    margin: 40px 0 0 30px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    float: left;
}

.contact-right {
    width: 100%;
    height: 100%;
    margin: 40px 0 0 30px;
    float: left;
}

.sorry-results {
    padding: 15px 25px 25px 25px;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    margin: 40px 30px 0 0px;
    border: 1px solid #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    float: left;
}

div.tableWrapper {
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    margin-top: 2em;
    border-top: 1px solid lightgrey;
}

.table {
    width: 100%;
}

td {
    border-bottom: 1px solid lightgrey;
    padding: 3px;
    border-left: 1px solid lightgrey;
    width: 100%;
}

tr:nth-child(even) {
    background: #lightgrey
}

tr:nth-child(odd) {
    background: #fff
}

.secondary-search {
    width: 50%;
    float: left;
    padding: 15px 10px;
    border: 2px solid #CCC;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.try-again {
    width: 100%;
}


/*############################################################### 
                        Typography
################################################################# */

h1 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    line-height: 1.2em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5em;
    text-decoration: none;
    color: #000000;
    padding: 0 0 15px;
    color: #000000;
}

    p.feature {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.5em;
        text-decoration: none;
        color: #888888;
    }

.maroon {
    color: #A30042;
    font-weight: bold;
}

p.footer-text {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5em;
    text-decoration: none;
    color: #CCC;
}

a {
    color: #A30042;
    text-decoration: none;
}

    a:hover {
        color: #680013;
        text-decoration: underline;
    }

.result {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 6em;
    margin-top: .50em;
    margin-bottom: .50em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #a30042;
}

#results {
    text-align: left;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #fcfcfc;
    /*-moz-border-radius: 5px;*/
    /*  -webkit-border-radius: 5px;
  -webkit-border-top-left-radius, border-top-right-radius: 0;*/
    /*-o-border-radius: 5px;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    margin-top: 0;
}

.occupation-name {
    cursor: pointer;
    padding: 10px 20px;
}

    .occupation-name:hover {
        background-color: #F1F1F1;
    }

.flow-text {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#map {
    height: 500px;
    margin-top: 30px;
}

/* ############################################
                12 Column Grid
   ############################################ */



.col {
    float: left;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.col-1 {
    width: 5.5%;
}

.col-2 {
    width: 14%;
}

.col-3 {
    width: 22.5%;
}

.col-4 {
    width: 31%;
}

.col-5 {
    width: 39.5%;
}

.col-6 {
    width: 48%;
}

.col-7 {
    width: 56.5%;
}

.col-8 {
    width: 65%;
}

.col-9 {
    width: 73.5%;
}

.col-10 {
    width: 82%;
}

.col-11 {
    width: 90.5%;
}

.col-12 {
    width: 99%;
    margin: 0;
}

/* End of Grid */

/*############################################################### 
                        Sticky Footer 
#################################################################*/

.main-container {
    min-height: 30%;
    margin-bottom: 30px; /* Creates space between bottom-most element and footer */
}

footer {
    background-color: #333333;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.footer-container {
    text-align: center;
    padding-top: 55px;
    height: 280px;
    clear: both;
    width: 100%;
}

/*############################################################### 
                        Header and Footer Styling 
#################################################################*/

.header-container {
    background: #FFFFFF;
}


.footer-container {
    background: #333333;
}

.title {
    color: white;
}

/*############################################################### 
                      Home Search Field
#################################################################*/

.search {
    text-align: center;
}

input.job-search {
    padding: 20px;
    border: 2px solid #CCC;
    box-sizing: border-box;
    width: 100%;
    background-color: #F1F1F1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto 0 auto; /* Makes form fields stretch on responsive view */
}

input:focus {
    background-color: #FFC;
}

.job-search-secondary {
    padding: 20px 10px;
    border: 2px solid #CCC;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.job-search-label {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #888888;
}

select {
    padding: 120px 50px;
    border: 2px solid #CCC;
    box-sizing: border-box;
    width: 100%;
    background-color: #F1F1F1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto; /* Makes form fields stretch on responsive view */
    height: 50px;
}

    select:focus {
        background-color: #FFC;
    }




/*############################################################### 
                      Button Style
#################################################################*/

.button-wrapper {
    width: 100%;
    text-align: center;
    display: inline;
    float: left;
    padding: 25px;
}

.contact-button-wrapper {
    width: 100%;
    text-align: left;
    display: inline;
    float: left;
    margin-top: 55px;
}



.btn {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border: none;
    background: #a30042;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #666666;
    -moz-box-shadow: 0 0 2px #666666;
    -ms-box-shadow: 0 0 2px #666666;
    -o-box-shadow: 0 0 2px #666666;
    box-shadow: 0px 0px 2px #666666;
    margin-right: 25px;
    margin-bottom: 15px;
}

input.btn:focus {
    background-color: #680013;
}

.btn:hover {
    background: #680013;
    text-decoration: none;
}

.btn-clear {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border: none;
    background: #680013;
    background-image: -webkit-linear-gradient(top, #f16529, #b8342b);
    background-image: -moz-linear-gradient(top, #f16529, #b8342b);
    background-image: -ms-linear-gradient(top, #f16529, #b8342b);
    background-image: -o-linear-gradient(top, #f16529, #b8342b);
    background-image: linear-gradient(to bottom, #f16529, #b8342b);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px #666666;
    -moz-box-shadow: 0 0 2px #666666;
    -ms-box-shadow: 0 0 2px #666666;
    -o-box-shadow: 0 0 2px #666666;
    box-shadow: 0px 0px 2px #666666;
    width: 100%;
    margin-top: 10px;
}

.go-btn {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 25px;
    text-decoration: none;
    border: none;
    background: #a30042;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #666666;
    -moz-box-shadow: 0 0 2px #666666;
    -ms-box-shadow: 0 0 2px #666666;
    -o-box-shadow: 0 0 2px #666666;
    box-shadow: 0px 0px 2px #666666;
}

    .go-btn:hover {
        background: #680013;
        text-decoration: none;
    }



/*############################################################### 
                     Answer Graph
#################################################################*/

.professionChart {
    border-left: solid 2px black;
    padding: .5em 0 .5em 0;
    line-height: 2em;
    min-height: 100px;
}

.professionBar {
    background-color: green;
    margin: 1em 0 1em 0;
    min-height: 2em;
    text-align: center;
    width: 0;
    color: #ffa;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.avgBar {
    background-color: blue;
    margin: 1em 0 1em 0;
    min-height: 2em;
    text-align: center;
    width: 55%;
    color: #fff;
    animation: 1s ease-out 0s 1 slideInFromLeftAvg;
}
/*
@keyframes slideInFromLeft {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes slideInFromLeftAvg {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

     */
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-family: 'Do+Hyeon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
}

    nav a:hover,
    nav a:visited {
        color: #000000;
    }

    nav a:hover {
        text-decoration: none;
        color: #A30042;
    }

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    height: 100%;
}

.footer-container footer {
    color: #333;
    padding: 20px 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/* Footer Nav */

.footer-nav {
    color: #CCC;
}

    .footer-nav li {
        display: inline;
    }

        .footer-nav li a {
            color: #CCC;
            text-decoration: none;
            margin-right: 20px;
            line-height: 150px;
        }



/*############################################################### 
                      Media Queries
#################################################################*/

@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        margin-top: 20px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
    WIDE: CSS3 Effects
   ==================== */



    /* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media only screen and (max-width: 1126px) {
    .btn {
        width: 100%;
    }

    .results-left {
        width: 100%;
    }

    .results-right {
        width: 100%;
        margin-left: 0 !important;
    }

    .contact-right {
        width: 100%;
        margin-left: 0 !important;
    }

    .decoration {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        width: 100%;
        height: auto;
    }

    #map {
        width: 100% !important;
    }

    .button-wrapper {
        width: 100%;
        text-align: center;
        display: inline;
        float: left;
        padding: 25px;
    }
}
