

@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About This Project</h1>
</div>

<div class="main container">
    <div class="row">
        <div class="col-xs-12">
            <p class="lead">The <span class="maroon">Job Automation Probability Simulator</span> is a project that was assigned to and developed by the COMP 313 class for Loyola's School of Continuing and Professional Studies during the spring semester of 2018. Today's technology is drastically changing the job landscape across a multitude of industries.  According to many reputable news sources, by 2026, it is estimated that nearly 1 million human jobs will be replaced by automation.  This means that human workers will need to acquire new skills to meet the demands of the marketplace to continue to find paid work.</p>

            <p class="lead">Due to this new demand for automated technology in the workforce, individuals, organizations, and higher education institutions must adapt to the rapidly changing technological landscape.  This new reality will undoubtly put more pressure on educational institutions and individuals to reimagine the traditional, four-year educational model so that new graduates are better prepared to compete against automation.</p>

            <span class="job-search-label">Is your job at risk of becoming automated?</span>
            <br />

            <div class="button-wrapper">
                @Html.ActionLink("SEARCH NOW", "Index", "Home", new { @class = "btn" })

            </div>
        </div>


    </div>
</div>

<div class="jumbotron">
    <h1>Meet The Team</h1>
</div>

<div class="main container">
    <div class="row">
        <div class="col-lg-4">
            <div class="profile">
                <img class="profile-pic" src="~/Content/images/daniel.jpg" width="305" height="200" align="center" />
                <h3>Daniel Blanes</h3>
                <p>
                    Web Developer</p>
               
                <a href="https://www.linkedin.com/in/dblanes/" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>

        </div>


        <div class="col-lg-4">
            <div class="profile">
                <img class="profile-pic" src="~/Content/images/ray.jpg" width="305" height="200" align="center" />
                <h3>Ray Connolly</h3>
                <p>
                    IT Technician<br />
                   
                </p>

                <a href="http://www.linkedin.com/in/raymond-connolly-781074139" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>
        </div>


        <div class="col-lg-4">
            <div class="profile">
                <img style="text-align: center;" class="profile-pic" src="~/Content/images/tom.jpg" width="305" height="200" align="center" />
                <h3>Thomas Dahman</h3>
                <p>
                    Programmer
                    
                </p>

                <a href="http://www.linkedin.com/in/thomas-dahman" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>
        </div>
    </div>


    <!--Second Row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="profile">
                <img class="profile-pic" src="~/Content/images/jesse_goodman.jpg" width="305" height="200" align="center" />
                <h3>Jesse Goodman</h3>
                <p>
                    Front-End Web Developer
                  

                 
                </p>

                <a href="https://www.linkedin.com/in/jessegoodman1/" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>

        </div>


        <div class="col-lg-4">
            <div class="profile">
                <img style="text-align: center;" class="profile-pic" src="~/Content/images/linda_ho.jpg" width="305" height="200" align="center" />
                <h3>Linda Ho</h3>
                <p>
                    Web Developer<br />
                
                </p>

                <a href="https://www.linkedin.com/in/lindaoanhho" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>
        </div>


        <div class="col-lg-4">
            <div class="profile">
                <img class="profile-pic" src="~/Content/images/jarvis.jpg" width="305" height="200" align="center" />
                <h3>Jarvis Raymond</h3>
                <p>
                    Developer
                  
                </p>

                <a href="https://www.linkedin.com/in/jarvis-raymond-73958840" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="profile">
                <img style="text-align: center;" class="profile-pic" src="~/Content/images/brittaney.jpg" width="305" height="200" align="center" />
                <h3>Brittaney Ross</h3>
                <p>
                    Back-End Developer
             
                </p>

                <a href="https://www.linkedin.com/in/brittaneyelizross/" target="_new"><img src="~/Content/images/linkedIn.png" width="40" height="40" /></a>

            </div>

        </div>

    </div>

