@{
    ViewBag.Title = "Contact";
}

<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

 -->

<div class="main-container">

      <div class="main wrapper clearfix">
         <div class="col-md-12 results-left">
           
         </div> 

    <div class="row">
        <div class="col-md-6">
            <h2>The School of Continuing and Professional Studies</h2>
            <p class="lead">820 North Michigan Avenue, Lewis Towers 401<br>Chicago, IL 60611 · 312.915.6501 · <a href="mailto: scps@LUC.edu">scps@LUC.edu</a></p>
        </div>
        <div class="col-md-6">
            <p class="lead">The School of Continuing and Professional Studies is committed to advancing the careers of its students.</p>
            <form action="http://luc.edu/scps" target="_new">
                <input type="submit" value="CONTACT SCPS" class="btn">
            </form>
        </div>
    </div>
</div>
</div>

