@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Job Automation Probability</h1>
        <p class="lead">In the modern global workforce, advances in technology are making job automation the wave of the future.  Through artificial intelligence and robotics, human jobs are being replaced with machine automation at an alarming rate.  This automation simulator will help determine which jobs are most likely to be automated by machine technology in the future.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-10 job-search-label" for="main-search">
            <h2>How Likely Is Your Job To Become Automated?</h2>
            <input class="job-search" id="main-search" type="text" placeholder="Type job name here">
        </div>

        <div class="main clearfix col-md-2">
            <div class="button-wrapper">
                <form action="result.html">
                    <input type="submit" value="SEARCH" class="btn">
                </form>
            </div>
        </div>
    </div>
    <p>
        Predictions range from optimistic to devastating regarding the future of employment.
        <br>
        Use this app and find out where your profession will stand.
    </p>
</div>