@using Group.Models;
@using System.Data.Entity;

@{
                /**/

                ViewBag.Title = "Index";
}

@using (Html.BeginForm("AutoComplete", "Home"))
{

    @Scripts.Render("~/Scripts/autocomplete.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js"></script>


    <div class="jumbotron">
        <h1>Job Automation Probability</h1>
        <p class="lead">In the modern global workforce, advances in technology are making job automation the wave of the future.  Through artificial intelligence and robotics, human jobs are being replaced with machine automation at an alarming rate.  This automation simulator will help determine which jobs are most likely to be automated by machine technology in the future.</p>
    </div>

    <div class="container">


        <div class="row">
            <div class="col-md-10 job-search-label" for="main-search">
                <h2>How Likely Is Your Job To Become Automated?</h2>
                <input class="job-search" id="main-search" autocomplete="off" type="text" placeholder="Type job name here" name="JobQuery">
            </div>



            <div id="results" class="flow-text col s12">


            </div>
        </div>
        <p>
            Predictions range from optimistic to devastating regarding the future of employment.
            <br>
            Use this app and find out where your profession will stand.
        </p>

        <div class="main clearfix col-md-2">
            <div class="button-wrapper">
                <input type="submit" value="SEARCH" class="btn">
            </div>
        </div>
    </div>
   
}