@using Group.Models;
@using System.Data.Entity;

@model Group.Models.Occupation

@{
    ViewBag.Title = "Sorry";
}

@Scripts.Render("~/Scripts/autocomplete.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js"></script>

<h2>Sorry</h2>

<div class="main-container">


    <div class="main wrapper clearfix">
        <div class="col col-md-7 results-left">
            <h1>Sorry! We could not find that profession.</h1>
            <p>Use the button below to try again or choose a profession from the list. </p>


            <input type="submit" value="SEARCH AGAIN" class="btn">
        </div>




        <div class="col col-md-5 results-right">


            <div class="try-again">
                <h2> Try Again</h2>
                <p class="lead">Enter your profession below to find out or use the table below.</p>

                @using (Html.BeginForm("Search", "Home"))
                {
                    <input class="job-search secondary-search" id="main-search" type="text" placeholder="Type job name here" name="JobQuery" autocomplete="off">
                    <div id="results" class="flow-text col s12"></div>
                    <input type="submit" value="GO" class="go-btn">
                }
            </div>



            <div class="tableWrapper">
                <table class="table" id="t01">
                    @foreach (var job in ViewBag.jobsInTable)
                    {
                        <tr>
                            <td>

                                <a href="@Url.Action("Result",null, new {OccupationQuery = @job, controller = "Home" })" class="elements">@job</a>

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
